<%- include("partials/header") -%>

<h1>Hello</h1>

<p><%= startingContent %></p>


<% posts.forEach(function(post) { %>
    <div class="post">
        <h1>
            <%= post.title %>
        </h1>
        <p>
            <%= post.text.substring(0, 100) + "..."%> 
            <a href="/posts/<%=post.title%>">Read More</a>

        </p>
    </div>
<% }); %>

<%- include("partials/footer") -%>
